body{
    position: relative;
    width: 1440px;
    height: 5996px;
    padding: 0;
    margin: 0;
    
    background: #FFFFFF;
}

.navbar{
    position: absolute;
    width: 1440px;
    height: 80px;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    
    background: #232536;
}

.logo{
    position: absolute;
    width: 140px;
    height: 28.35px;

    left: 83px;
    top: 25px;
    bottom: 26.65px;
    right: 1217px;
}

.nav-list{
    position: absolute;
    width: 305px;
    height: 29px;

    left: 844px;
    top: 26px;
    right: 291px;
    bottom: 25px;

    list-style: none;

    padding: 0;
    margin: 0;
}

.home,
.blog,
.about,
.contact{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    top: 0px;
    bottom: 1px;

    text-decoration: none;
    
    color: #FFFFFF;
}




.home{
    width: 45px;
    height: 28px;

    left: 0px;
    right: 260px;
}

.blog{
    width: 34px;
    height: 28px;

    left: 69px;
    right: 202px;
}

.about{
    width: 71px;
    height: 27.65px;

    left: 127px;
    right: 107px;
}

.contact{
    width: 83px;
    height: 28px;

    left: 222px;
    right: 0px;
}