.all{
    position: absolute;
    width: 1282px;
    height: 96px;

    left: 80px;
    top: 663px;    
    right: 78px;
    bottom: 3474px;
}

.all-posts{
    position: absolute;
    width: 180px;
    height: 64px;

    right: 1102px;
    top: 0px;
    left: 0px;
    bottom: 32px;
    
    /* Heading H1 */
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* identical to box height, or 133% */
    
    /* Black */
    color: #232536;    
}

.line{
    position: absolute;
    width: 1282px;
    height: 0px;

    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 96px;

    opacity: 0.32;
    /* Medium grey */
    border: 1px solid #6D6E76;
}