body{
    padding: 0;
    margin: 0;

    background-color: bisque;
}

.head-main{
    display: block;

    border: 1px solid black;
    height: 100px;
}

.head-logo{
    display: inline-flex;
    position: absolute;

    padding: 0;
    margin: 0;
    top: 20px;
    left: 25px;
}

.nav-bar{
    display: inline-flex;
    list-style: none;
    cursor: pointer;
    position: absolute;

    padding: 0;
    margin: 0;
    gap: 10px;
    top: 20px;
    right: 25px;
}   

li a{
    text-decoration: none;
    text-transform: none;
    font-size: 16px;

    color: black;
    border: 1px solid black;
    border-radius: 15px;
    padding: 3px;
    background-color: cadetblue;
}

li a:hover{
    color: white;
    background-color: black;
}

.search{
    display: inline-flex;
    position: absolute;
    cursor: pointer;
    
    gap: 5px;
    margin: 0;
    top: 55px;
    right: 50px;
}   

input[type="submit"]{
    background-color: cadetblue;
    border: 1px solid black;
    border-radius: 15px;
}

input[type="search"]{
    border: 1px solid black;
    border-radius: 15px;

    text-align: center;
}

/* Оформление шапки сайта*/

.main-h{
    display: block;
    text-align: center;
    
    padding: 0;
    margin: 15px 0 0 0;
}

.card-me{ /*Оформление первой карточки обо мне и сайте*/
    border: 1px solid black;
    height: 150px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;

    background-color: cadetblue;
}

.h-card{ 
    display: block;
    text-align: center;
} /*Заголовок карточки*/

.p-card{
    margin: auto;
    padding: auto;
    display: flex;
    text-align: center;

    font-size: 14px;
} /*Обзац карточки*/

.card-about{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    height: 150px;
    width: 350px;

    background-color: cadetblue;
}

.card-pos{
    margin: 50px auto;
    gap: 100px;
    width: 1400px;
    
    justify-content: center;
    display: flex;
} /*Позиция всех карточек*/

.card-go{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    height: 150px;
    width: 350px;

    background-color: cadetblue;
}
