.head-main{
    display: block;
    text-align: center;
    text-decoration: underline;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form{
    width: 300px;
    margin: 0 auto;
}

.labe{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.area{
    display: block;
    margin: 0 auto 15px; 
}

input[type="submit"]{
    display: block;
    margin: 0 auto;
    background-color: rgb(12, 9, 101);
    color: white;
    border-radius: 5px;
    font-size: 16px;
}